﻿@{bool IsAdmin = User.IsInRole(Vidly.Models.RoleName.CanManageMovies);}
@{bool IsAuthenticated = Request.IsAuthenticated;}

<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>

            <img style="padding:6px;" class="navbar-brand" src="~/Images/vidly-logo.png" />
            @Html.ActionLink("VIDLY", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                @if (IsAuthenticated)
                {

                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Rental <b class="caret"></b></a>
                        <ul class="dropdown-menu dropdown-ul">
                            <li class="dropdown-li">@Html.ActionLink("New Rental", "New", "Rentals")</li>
                            <li class="dropdown-li">@Html.ActionLink("Rentals", "Index", "Checkins")</li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Customer <b class="caret"></b></a>
                        <ul class="dropdown-menu dropdown-ul">
                            @if (IsAdmin)
                            {
                            <li class="dropdown-li">@Html.ActionLink("New Customer", "New", "Customers")</li>
                            }
                            <li class="dropdown-li">@Html.ActionLink("Customer List", "Index", "Customers")</li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Movie <b class="caret"></b></a>
                        <ul class="dropdown-menu dropdown-ul">
                            @if (IsAdmin)
                            {
                            <li class="dropdown-li">@Html.ActionLink("New Movie", "New", "Movies")</li>
                            }
                            <li class="dropdown-li">@Html.ActionLink("Movie List", "Index", "Movies")</li>
                        </ul>
                    </li>
                    if (IsAdmin)
                    {
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Manage <b class="caret"></b></a>
                            <ul class="dropdown-menu dropdown-ul">
                                <li class="dropdown-li">@Html.ActionLink("Users", "Index", "Users")</li>
                                @*<li class="dropdown-li">@Html.ActionLink("Users", "Index", "Users")</li>*@
                            </ul>
                        </li>
                    }
                }
            </ul>
            @Html.Partial("_LoginPartial")
        </div>
    </div>
</div> 