﻿@model Vidly.Models.ExternalLoginListViewModel
@using Microsoft.Owin.Security

<h4>Alternative log in options:</h4>
<hr />
@{
    var loginProviders = Context.GetOwinContext().Authentication.GetExternalAuthenticationTypes();
    if (loginProviders.Count() == 0)
    {
        <div>
            <p>
                There are no external authentication services configured. See <a href="https://go.microsoft.com/fwlink/?LinkId=403804">this article</a>
                for details on setting up this ASP.NET application to support logging in via external services.
            </p>
        </div>
    }
    else
    {
        using (Html.BeginForm("ExternalLogin", "Account", new { ReturnUrl = Model.ReturnUrl }))
        {
            @Html.AntiForgeryToken()
            <div id="socialLoginList">
                <p>
                    @foreach (AuthenticationDescription p in loginProviders)
                    {
                        switch (@p.AuthenticationType)
                        {
                            case "Facebook":
                                <button class="external-login-image" type="submit" id="@p.AuthenticationType" name="provider" value="@p.AuthenticationType" title="Log in using your @p.Caption account">
                                    <img src="~/Images/facebook-login.png"
                                         style="object-fit:none;" />
                                </button>
                                <br />
                                break;
                            case "Google":
                                <button class="external-login-image" type="submit" id="@p.AuthenticationType" name="provider" value="@p.AuthenticationType" title="Log in using your @p.Caption account">
                                    <img src="~/Images/google-login.png"
                                         style="object-fit:none;" />
                                </button>
                                <br />
                                break;
                            default:
                                <button class="external-login-image" type="submit" id="@p.AuthenticationType" name="provider" value="@p.AuthenticationType" title="Log in using your @p.Caption account">
                                    <img src="~/Images/twitter-login.png"
                                         style="object-fit:none;" />
                                </button>
                                <br />
                                break;
                        }
                    }
                </p>
            </div>
        }
    }
}
