﻿body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.field-validation-error,
label.error {
    color: red;
}

.input-validation-error,
input.error {
    border: 2px solid red;
}

.dropdown-ul {
    background-color: #106a8c;
    border-top: 0px !important;
    border: 1px solid #ccc;
    border: 1px solid rgba(0, 0, 0, 0.2);
    /*-webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;*/
    -webkit-box-shadow: 0 10px 15px rgba(0,0,0,.4);
    -moz-box-shadow: 0 10px 15px rgba(0,0,0,.4);
    box-shadow: 0 10px 15px rgba(0,0,0,.4);
}

    .dropdown-ul .dropdown-li {
    }

        .dropdown-ul .dropdown-li :hover {
            background-color: #5b99b0;
            color: #fff;
            font-weight: 400;
        }

        .dropdown-ul .dropdown-li a {
            color: #c1c1c1;
        }

.dropdown .dropdown-menu {
    display: block;
    opacity: 0;
    -moz-transition: all 200ms ease;
    -webkit-transition: all 200ms ease;
    -o-transition: all 200ms ease;
    -ms-transition: all 200msms0ms ease;
    transition: all 200ms ease;
}

.dropdown:hover .dropdown-menu {
    display: block;
    opacity: 1;
}

.text-center {
    text-align: center;
}

.dt-table-select {
    width: 100%
}

.role-checkbox {
    cursor: pointer;
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Standard */
    width: 100%;
}

    .role-checkbox:hover {
        color: #5b99b0;
    }

#checkOutContent {
    position: relative;
    border: 1px #999999 solid !important;
    height: 60vh;
    border: 1px solid #ccc;
    border: 1px solid rgba(0, 0, 0, 0.2);
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    -webkit-box-shadow: 0 10px 15px rgba(0,0,0,.4);
    -moz-box-shadow: 0 10px 15px rgba(0,0,0,.4);
    box-shadow: 0 10px 15px rgba(0,0,0,.4);
}

#penaltyContent {
    position: relative;
    border: 1px #999999 solid !important;
    height: 90px;
    border: 1px solid #ccc;
    border: 1px solid rgba(0, 0, 0, 0.2);
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    -webkit-box-shadow: 0 10px 15px rgba(0,0,0,.4);
    -moz-box-shadow: 0 10px 15px rgba(0,0,0,.4);
    box-shadow: 0 10px 15px rgba(0,0,0,.4);
    margin-top:25px;
}

.border-gray {
    border: 1px #999999 solid !important;
}

.margin-left-15 {
    margin-left:15px;
}

.margin-top-10 {
    margin-top: 10px;
}

.margin-top-20 {
    margin-top: 20px;
}

.margin-top-30 {
    margin-top: 30px;
}

.margin-top-40 {
    margin-top: 40px;
}

.margin-top-50 {
    margin-top: 50px;
}

.width-max {
    width:100%;
}
.height-40-px {
    height:40px;
}

.display-none {
    display:none;
}

.dataTables_processing {
    top: 64px !important;
    z-index: 11000 !important;
}