﻿body {
    color: #52656B;
}

h1, .h1, h2, .h2, h3, .h3 {
    margin-bottom: 30px;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    color: #3B4B50;
}

h2, .h2 {
    font-size: 25px;
}

.body-content {
    padding-top: 20px;
}


.navbar-inverse {
    background-color: #106a8c;
    border-color: #5b99b0;
    color: #fff;
}

/*.navbar-inverse {
    background-color: #FF3B77;
    border-color: #FF8598;
    color: #fff;
}
*/
    .navbar-inverse .navbar-nav > li > a {
        color: #fff;
        font-weight:500;
        /*border-bottom: 3px solid transparent;*/
        /*transition: border-bottom ease-in-out .15s;*/
        /*padding-bottom: 10px;*/
    }

        .navbar-inverse .navbar-nav > li > a:hover, .navbar-inverse .navbar-nav > li > a:focus {
            border-bottom: 0px solid #fff;
            /* color: #fff;*/
            color: #ababab;
        }

    .navbar-inverse .navbar-brand {
        color: #fff;
    }

        .navbar-inverse .navbar-brand:hover, .navbar-inverse .navbar-brand:focus {
            color: #999999;
            background-color: transparent;
        }

a, .btn-link {
    color: #09A7E4;
}

.btn {
    /*border-radius: 10px;*/
    text-transform: none;
    /*font-weight: bold;*/
    font-size: 12px;
}

.btn-primary {
    color: #ffffff;
    background-color: #5b99b0;
    /*background-color: #52656B;*/
    border: 0;
    padding: 8px 20px;
}

    .btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open > .dropdown-toggle.btn-primary {
        /*color: #52656B;
        background-color: #CDFF00;*/
        color: #fff;
        background-color: #106a8c;
    }

.pagination > .active > a, .pagination > .active > span, .pagination > .active > a:hover, .pagination > .active > span:hover, .pagination > .active > a:focus, .pagination > .active > span:focus {
    color: #ffffff;
    background-color: #52656B;
    border-color: #52656B;
}

.pagination > li > a, .pager > li > a, .pagination > li > span, .pager > li > span {
    text-transform: none;
}

table a:not(.btn), .table a:not(.btn) {
    text-decoration: none;
}

.form-control {
    height: 35px;
    -webkit-box-shadow: none;
    box-shadow: none;
    -webkit-transition: border-color ease-in-out .10s, box-shadow ease-in-out .15s;
    -moz-transition: border-color ease-in-out .10s, box-shadow ease-in-out .15s;
    -ms-transition: border-color ease-in-out .10s, box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .10s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .10s, box-shadow ease-in-out .15s;
    border: 1px solid #999999;
     border-radius: 4px;
}

    .form-control:focus {
        -webkit-box-shadow: none;
        box-shadow: none;
        border: 2px solid #5b99b0;
    }

#loginRememberMe {
    padding-left:20px;
}

.external-login-image {
    border: none !important;
    padding:0px;
    margin-top:10px;
}

.height-35 {
    height:35px;
}

.multi-select-users:focus {
    border: 1px solid #999999;
}

input.form-control.input-sm {
    height:30px!important;
}
select.form-control.input-sm {
    height: 30px !important;
}