﻿
@model Vidly.Models.Movie
@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



@if (Model != null)
{
    <h2>@Model.Name</h2>
    <ul>
        <li>Genre: @Model.Genre.Name</li>
        <li>Released Date: @string.Format("{0:MM/dd/yyyy}", Model.ReleasedDate)</li>
        <li>Date Added: @string.Format("{0:MM/dd/yyyy}", Model.DateAdded)</li>
        <li>Number in Stock: @Model.InStock</li>
    </ul>
}
else
{

    <text> Movie does not exist.</text>
}