﻿@model IEnumerable<Vidly.Models.Movie>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>MOVIES</h2>

<br />

<table id="movies" class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>Movie</th>
            <th>Genre</th>
            <th>Delete</th>
        </tr>
    </thead>
    <tbody>
    </tbody>
</table>

@section scripts
{
    <script>
        $(document).ready(function () {
            var dataTable = $("#movies").DataTable({
                "order": [[0, "asc"]],
                language: {
                    emptyTable: "No Data"
                },
                searchDelay: 500,
                proccessing: true,
                serverSide: true,
                ajax: {
                    url: "/api/movies/get-datatable-movies",
                    type: 'POST'
                },
                columns: [
                    {
                        data: "Name",
                        render: function (data, type, movie) {
                            return "<a href='/movies/edit/" + movie.Id + "'>" + movie.Name + "<a/>";
                        }
                    },
                    {
                        data: "Genre.Name",
                    },
                    {
                        data: "Id",
                        render: function (data) {
                            return "<button class='btn-link js-delete' data-movie-id=" + data + "> Delete</button>";
                        }
                    }
                ],
                columnDefs: [
                    { name: 'Name', targets: 0 },
                    { name: 'Genre.Name', targets: 1 },
                    { name: 'Delete', orderable: false, targets: 2 },
                ]
            });

            $("#movies").on("click", ".js-delete", function () {
                var deleteButton = $(this);
                bootbox.confirm("Are you sure you want to delete this movie?",
                    function (result) {
                        if (result) {
                            $.ajax({
                                url: "/api/movies/" + deleteButton.attr("data-movie-id"),
                                method: "DELETE",
                                success: function () {
                                    dataTable.row(deleteButton.parents("tr")).remove().draw()
                                }
                            });
                        }
                    });
            });
        });
    </script>
}


