﻿@model Vidly.ViewModels.MovieFormViewModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@if (Model.Id == null || Model.Id != 0)
{
    ViewBag.Title = "Edit Movie";
    <h2>EDIT MOVIE</h2>
}
else
{
    ViewBag.Title = "New Movie";
    <h2>NEW MOVIE</h2>
}

@using (@Html.BeginForm("Save", "Movies"))
{
    <div class="form-group">
        @Html.LabelFor(c => c.Name)
        @Html.TextBoxFor(c => c.Name, new { @class = "form-control" })
        @Html.ValidationMessageFor(c => c.Name)
    </div>
    <div class="form-group">
        @Html.LabelFor(c => c.ReleasedDate)
        @Html.TextBoxFor(c => c.ReleasedDate, "{0: d MMM yyyy}", new { @class = "form-control" })
        @Html.ValidationMessageFor(c => c.ReleasedDate)
    </div>
    <div class="form-group">
        @Html.LabelFor(c => c.GenreId)
        @Html.DropDownListFor(c => c.GenreId, new SelectList(Model.Genres, "Id", "Name"), "Select Genre", new { @class = "form-control" })
        @Html.ValidationMessageFor(c => c.GenreId)
    </div>
    <div class="form-group">
        @Html.LabelFor(c => c.MovieTypeId)
        @Html.DropDownListFor(c => c.MovieTypeId, new SelectList(Model.MovieTypes, "Id", "Name"), "Select Type", new { @class = "form-control" })
        @Html.ValidationMessageFor(c => c.MovieTypeId)
    </div>
    <div class="form-group">
        @Html.LabelFor(c => c.InStock)
        @Html.TextBoxFor(c => c.InStock, new { @class = "form-control" })
        @Html.ValidationMessageFor(c => c.InStock)
    </div>

    @Html.AntiForgeryToken()
    @Html.HiddenFor(m => m.Id)
    <button type="submit" class="btn btn-primary">Save</button>
}

@section scripts
{
    @Scripts.Render("~/bundles/jqueryval")
}