﻿@model IEnumerable<Vidly.Models.Movie>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Movies</h1>

<table id="movies" class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>Movie</th>
            <th>Genre</th>
        </tr>
    </thead>
    <tbody>
    </tbody>
</table>



@section scripts
{
    <script>
        $(document).ready(function () {
            var dataTable = $("#movies").DataTable({
                ajax: {
                    url: "/api/movies",
                    dataSrc: ""
                },
                columns: [
                    {
                        data: "name",
                    },
                    {
                        data: "genre.name",
                    }
                ]
            });

            $("#movies").on("click", ".js-delete", function () {
                var deleteButton = $(this);
                bootbox.confirm("Are you sure you want to delete this movie?",
                    function (result) {
                        if (result) {
                            $.ajax({
                                url: "/api/movies/" + deleteButton.attr("data-movie-id"),
                                method: "DELETE",
                                success: function () {
                                    dataTable.row(deleteButton.parents("tr")).remove().draw()
                                }
                            });
                        }
                    });
            });
        });
    </script>
}


