﻿@model Vidly.ViewModels.UserFormViewModel
@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>USER</h2>


@using (@Html.BeginForm("Save", "Users"))
{
    <div class="form-group">
        @Html.LabelFor(u => u.Email)
        @Html.TextBoxFor(u => u.Email, new { @class = "form-control" })
        @Html.ValidationMessageFor(u => u.Email)
    </div>
    @*<div class="form-group">
            @Html.LabelFor(u => u.RoleIds)
            @Html.ListBoxFor(u => u.RoleIds, Model.Roles, new { @class = "form-control multi-select-users" })
            @Html.ValidationMessageFor(u => u.RoleIds)
        </div>*@

    @*<div class="form-group">
        <label>Roles</label>
        @Html.DropDownListFor(c => c.RoleId, new SelectList(Model.Roles, "Id", "Name"), "Select Roles", new { @class = "form-control" })
    </div>*@

    <div class="form-group">
        @Html.LabelFor(u => u.Roles)
        <div class="form-control" style="height:150px; width:280px; overflow:auto;">
            @foreach (var item in Model.Roles)
            {
                <div class="checkbox role-checkbox">
                    <label>
                        <input type="checkbox"
                               name="RoleIds"
                               value="@item.Id"
                               @if (Model.RoleIds.Contains(item.Id)) { <text> checked </text> } /> @item.Name
                        </label>
                    </div>
                }
        </div>
    </div>


    <div class="form-group">
        @Html.LabelFor(u => u.DrivingLicense)
        @Html.TextBoxFor(u => u.DrivingLicense, new { @class = "form-control" })
        @Html.ValidationMessageFor(u => u.DrivingLicense)
    </div>
    <div class="form-group">
        @Html.LabelFor(u => u.Phone)
        @Html.TextBoxFor(u => u.Phone, new { @class = "form-control" })
        @Html.ValidationMessageFor(u => u.Phone)
    </div>
    @*foreach (var item in Model.Roles)
        {
            <div class="checkbox">
                <label>
                    <input type="checkbox"
                           name="RoleIds"
                           value="@item.Value"
                           @if (Model.RoleIds.Contains(item.Value)) { <text> checked </text>  } /> @item.Text
                    </label>
                </div>
            }*@

    @Html.HiddenFor(u => u.Id)
    @Html.AntiForgeryToken()
    <button type="submit" class="btn btn-primary">Save</button>
}


@section scripts
{
    @Scripts.Render("~/bundles/jqueryval")
}