﻿@model IEnumerable<Vidly.ViewModels.UserViewModel>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>USER MANAGEMENT</h2>

<table id="users" class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>Email</th>
            <th>Roles</th>
            <th>Phone</th>
            <th>Driver License</th>
        </tr>
    </thead>
    <tbody>
    </tbody>
</table>

@section scripts
{
    <script>
        $(document).ready(function () {
            var dataTable = $("#users").DataTable({
                data:@Html.Raw(Json.Encode(Model)),
                columns: [
                    {
                        data: "Email",
                        render: function (data, type, user) {
                            return "<a href='/users/edit/" + user.Id + "'>" + user.Email + "<a/>";
                        }
                    },
                    {
                        data: "Roles",
                    },
                    {
                        data: "Phone",
                    },
                    {
                        data: "DrivingLicense",
                    }
                ]
            });

            $("#customers").on("click", ".js-delete", function () {
                var deleteButton = $(this);
                bootbox.confirm("Are you sure you want to delete this customer?",
                    function (result) {
                        if (result) {
                            $.ajax({
                                url: "/api/customers/" + deleteButton.attr("data-customer-id"),
                                method: "DELETE",
                                success: function () {
                                    dataTable.row(deleteButton.parents("tr")).remove().draw()
                                }
                            });
                        }
                    });
            });
        });
    </script>
}


