﻿@model dynamic

@{
    ViewBag.Title = "New Rental";
}

<h2>NEW RENTAL</h2>

<div class="container">
    <div class="row">
        <div class="col-xs-6">
            <form id="newRental">
                <div class="form-group">
                    <label>Customer</label>
                    <div class="tt-container">
                        <input id="customer"
                               name="customer"
                               data-rule-validCustomer="true"
                               data-rule-delinquentCustomer="true"
                               required
                               type="text"
                               value=""
                               class="form-control"
                               placeholder="Enter Customer Name" />
                    </div>
                </div>

                <div class="form-group">
                    <label>Movie</label>
                    <div class="tt-container">
                        <input id="movie"
                               name="movie"
                               data-rule-validMovies="true"
                               type="text"
                               value=""
                               class="form-control"
                               placeholder="Enter Movie Title" />
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-4 col-sm-4">
                        <ul id="movies" class="list-group"></ul>
                    </div>
                </div>
                <button id="insideSubmit" type="submit" class="display-none">Pay()</button>
            </form>
        </div>
        <div class="col-xs-6">
            <div id="checkOutContainer" style="visibility:hidden; width:365px">
                <div id="checkOutContent">
                    <center><h4>CHECKOUT</h4></center>
                    <br />

                    <div class="row" style="margin:0px; padding:0px">
                        <div class="col-md-9 col-sm-9">
                            <span style="font-weight:bold;">MOVIE</span>
                        </div>
                        <div class="col-md-3 col-sm-3">
                            <span style="font-weight:bold;">RATE</span>
                        </div>
                        <hr style="border-top: solid 1px #bbbbbb !important;" />
                    </div>
                    <div class="row" style="bottom:80px; position:absolute; margin: 0px; padding: 10px 0px 10px 0px; width:100%;">
                        <div class="col-md-9 col-sm-9">
                            <span style="">SUBTOTAL</span>
                        </div>
                        <div class="col-md-3 col-sm-3">
                            <span id="subTotalLabel" style=""></span>
                        </div>
                    </div>
                    <div class="row" style="bottom:50px; position:absolute; margin: 0px; padding: 10px 0px 10px 0px; width:100%;">
                        <div class="col-md-9 col-sm-9">
                            <span style="">DISCOUNT</span>
                        </div>
                        <div class="col-md-3 col-sm-3">
                            <span id="discountLabel" style=""></span>
                        </div>
                    </div>
                    <div class="row" style="border-top:solid 1px #bbbbbb; bottom:0px; position:absolute; margin: 0px; padding: 10px 0px 10px 0px; width:100%;">
                        <div class="col-md-8 col-sm-8">
                            <span style="font-weight:bold; font-size:large">TOTAL</span>
                        </div>
                        <div class="col-md-4 col-sm-4">
                            <span id="totalLabel" style="font-weight:bold; font-size:large"></span>
                        </div>
                    </div>
                </div>
                <button id="outsideSubmit" type="submit" class="btn btn-primary margin-top-20 width-max height-40-px"></button>
            </div>
        </div>
    </div>
</div>
@section scripts
{
    @Scripts.Render("~/bundles/jqueryval")
    <script>
        $(document).ready(function () {
            $("#outsideSubmit").click(function () {
                $("#insideSubmit").submit();
            });


            var vm = {
                movieIds: [],
                numberOfAllowableRental: 0,
                numberOfCurrentRental: 0,
                totalAmount: 0,
                paidAmount: 0,
                discount: 0,
                subTotal:0,
                isDelinquent: false
            };

            var customers = new Bloodhound({
                datumTokenizer: Bloodhound.tokenizers.obj.whitespace('name'),
                queryTokenizer: Bloodhound.tokenizers.whitespace,
                remote: {
                    url: '/api/customers?query=%QUERY',
                    wildcard: '%QUERY'
                }
            });

            $('#customer').typeahead({
                minLength: 3,
                highlight: true
            }, {
                name: 'customers',
                display: 'name',
                source: customers
            }).on("typeahead:select", function (e, customer) {
                vm.customerId = customer.id;
                vm.isDelinquent = customer.isDelinquent;

                vm.numberOfAllowableRental = customer.numberOfAllowableRental;
                vm.numberOfCurrentRental = customer.numberOfCurrentRental;
                vm.discount = customer.discount;
            });

            var movies = new Bloodhound({
                datumTokenizer: Bloodhound.tokenizers.obj.whitespace('name'),
                queryTokenizer: Bloodhound.tokenizers.whitespace,
                remote: {
                    url: '/api/movies?query=%QUERY',
                    wildcard: '%QUERY'
                }
            });

            $('#movie').typeahead({
                minLength: 3,
                highlight: true
            }, {
                name: 'movies',
                display: 'name',
                source: movies
            }).on("typeahead:select", function (e, movie) {
                if (vm.isDelinquent) {
                    return;
                }

                if ((vm.numberOfCurrentRental + 1) > vm.numberOfAllowableRental) {
                    toastr.error("The customer has reached the maximum number of rentals allowed.")
                } else {

                    if (!vm.movieIds.includes(movie.id)) {
                        $("#checkOutContainer").css("visibility", "visible");

                        $("#checkOutContent").append('<div class="row checkoutList" style="margin:0px; padding:10px 0px 0px 0px;"><div class= "col-md-9 col-sm-9" >' + movie.name + '</div > <div class="col-md-3 col-sm-3">₱' + movie.movieType.rate.toFixed(2) + '</div></div >');
                        $("#movie").typeahead("val", "");
                        vm.movieIds.push(movie.id);
                        vm.totalAmount += movie.movieType.rate;
                        vm.subTotal += movie.movieType.rate;
                        vm.paidAmount = vm.totalAmount - ((vm.discount / 100) * vm.totalAmount);

                        vm.numberOfCurrentRental += 1;

                        $('#outsideSubmit').text("Pay (₱" + vm.paidAmount.toFixed(2) + ")");

                        $('#subTotalLabel').text(vm.subTotal);
                        $('#discountLabel').text(vm.discount + "%");
                        $('#totalLabel').text("₱" + vm.paidAmount.toFixed(2) + "");

                        console.log(vm);
                    } else {
                        toastr.error("The customer can only rent one copy of the same movie at a time.");
                    }
                }
            });

            $.validator.addMethod("validCustomer", function () {
                return vm.customerId && vm.customerId !== 0;
            }, "Please select a valid customer.");

            $.validator.addMethod("validMovies", function () {
                return vm.movieIds.length > 0;
            }, "Please select at least one movie.");

            $.validator.addMethod("delinquentCustomer", function () {
                return !vm.isDelinquent;
            }, "This customer has unpaid penalties and is prohibited from renting movies until said penalty has been settled.");

            var validator = $("#newRental").validate({
                submitHandler: function () {
                    $.ajax({
                        url: "/api/newRentals",
                        method: "post",
                        data: vm
                    })
                        .done(function () {
                            toastr.success("Rentals successfully recorded.");

                            $("#customer").typeahead("val", "");
                            $("#movie").typeahead("val", "");
                            $("#checkOutContainer").css("visibility", "hidden");

                            var paras = document.getElementsByClassName('checkoutList');

                            while (paras[0]) {
                                paras[0].parentNode.removeChild(paras[0]);
                            };

                            vm = {
                                movieIds: [],
                                numberOfAllowableRental: 0,
                                numberOfCurrentRental: 0,
                                paidAmount: 0,
                                subTotal: 0,
                                totalAmount: 0,
                            };

                            validator.resetForm();
                        })
                        .fail(function () {
                            toastr.error("Something unexpected happened.");
                        });

                    return false;
                }
            });
        });
    </script>
}

@section Styles
{
    <style>
        .form-control.tt-hint.error {
            display: none !important;
        }

        input.form-control.tt-hint.error + label.error {
            display: none !important;
        }
    </style>

}
