﻿@model Vidly.ViewModels.CustomerFormViewModel
@{
    ViewBag.Title = "New";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



@if (Model.Customer.Id > 0)
{
    <h2>EDIT CUSTOMER</h2>
}
else
{
    <h2>NEW CUSTOMER</h2>
}


@using (@Html.BeginForm("Save", "Customers"))
{
    <div class="form-group">
        @Html.LabelFor(c => c.Customer.Name)
        @Html.TextBoxFor(c => c.Customer.Name, new { @class = "form-control" })
        @Html.ValidationMessageFor(c => c.Customer.Name)
    </div>
    <div class="form-group">
        @Html.LabelFor(c => c.Customer.MembershipTypeId)
        @Html.DropDownListFor(c => c.Customer.MembershipTypeId, new SelectList(Model.MembershipTypes, "Id", "Name"), "Select Membership Type", new { @class = "form-control", id = "membershipTypeSelect" })
        @Html.ValidationMessageFor(c => c.Customer.MembershipTypeId)
    </div>
    <div class="form-group">
        @Html.LabelFor(c => c.Customer.Birthday)
        @Html.TextBoxFor(c => c.Customer.Birthday, "{0: d MMM yyyy}", new { @class = "form-control" })
        @Html.ValidationMessageFor(c => c.Customer.Birthday)
    </div>
    <div class="form-group">
        @Html.LabelFor(c => c.Customer.NumberOfAllowableRental)
        @Html.TextBoxFor(c => c.Customer.NumberOfAllowableRental, new { @class = "form-control disabled" })
        @Html.ValidationMessageFor(c => c.Customer.NumberOfAllowableRental)
    </div>
    <div class="form-group">
        @Html.LabelFor(c => c.Customer.MembershipType.DiscountRate)
        @Html.TextBoxFor(c => c.Customer.MembershipType.DiscountRate, new { @class = "form-control", id = "discountRateTextbox", disabled = "disabled" })
        @Html.ValidationMessageFor(c => c.Customer.MembershipType.DiscountRate)
    </div>
    <div class="checkbox">
        <label>
            @Html.CheckBoxFor(c => c.Customer.IsSubscribedToNewsletter) Subscribed to the Newsletter?
        </label>
    </div>

    @Html.HiddenFor(m => m.Customer.Id)
    @Html.AntiForgeryToken()
    <button type="submit" class="btn btn-primary">Save</button>
}

@section scripts
{
    @Scripts.Render("~/bundles/jqueryval")

    <script>
        $(document).ready(function () {
            const modelJson = @Html.Raw(Json.Encode(Model));


            $("#membershipTypeSelect").change(function () {
                var membershipId = $(this).val();

                for (var i = 0; i < modelJson.MembershipTypes.length; i++) {
                    var membershipType = modelJson.MembershipTypes[i];

                    if (membershipType.Id == membershipId) {
                        $('#discountRateTextbox').val(membershipType.DiscountRate);
                    }
                }
            });
        });
    </script>
}