﻿@model Vidly.Models.Customer
@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



@if (Model != null)
{
    <h2>@Model.Name</h2>
    <ul>
        <li>Membership Type: @Model.MembershipType.Name</li>
        @if(Model.Birthday != null) 
        {
            <li>@string.Format("{0:MM/dd/yyyy}", Model.Birthday)</li>
        }
    </ul>
}
else
{

    <text> Customer does not exist.</text>
}