﻿@model IEnumerable<Vidly.Models.Customer>
@{
    ViewBag.Title = "View";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>CUSTOMERS</h2>

<br />

<table id="customers" class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>Customer</th>
            <th>Membership Type</th>
            <th>Delete</th>
        </tr>
    </thead>
    <tbody>
    </tbody>
</table>

@section scripts
{
    <script>
        $(document).ready(function () {
            var dataTable = $("#customers").DataTable({
                "order": [[0, "asc"]],
                language: {
                    emptyTable: "No Data"
                },
                proccessing: true,
                serverSide: true,
                ajax: {
                    url: "/api/customers/get-datatable-customers",
                    type: 'POST'
                },
                columns: [
                    {
                        data: "Name",
                        render: function (data, type, customer) {
                            return "<a href='/customers/edit/" + customer.Id + "'>" + customer.Name + "<a/>";
                        }
                    },
                    {
                        data: "MembershipType.Name",
                    },
                    {
                        data: "Id",
                        render: function (data) {
                            return "<button class='btn-link js-delete' data-customer-id=" + data + "> Delete</button>";
                        }
                    }
                ],
                columnDefs: [
                    { name: 'Name', targets: 0 },
                    { name: 'MembershipType.Name', targets: 1 },
                    { name: 'Delete', orderable: false, targets: 2 },
                ]
            });

            $("#customers").on("click", ".js-delete", function () {
                var deleteButton = $(this);
                bootbox.confirm("Are you sure you want to delete this customer?",
                    function (result) {
                        if (result) {
                            $.ajax({
                                url: "/api/customers/" + deleteButton.attr("data-customer-id"),
                                method: "DELETE",
                                success: function () {
                                    dataTable.row(deleteButton.parents("tr")).remove().draw()
                                }
                            });
                        }
                    });
            });
        });
    </script>
}


