﻿
@model IEnumerable<Vidly.Models.Customer>
@{
    ViewBag.Title = "ReadOnlyList";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h1>Customers</h1>

<br />


<table id="customers" class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>Customer</th>
            <th>Membership Type</th>
        </tr>
    </thead>
    <tbody>
    </tbody>
</table>



@section scripts
{
    <script>
        $(document).ready(function () {
            var dataTable = $("#customers").DataTable({
                ajax: {
                    url: "/api/customers",
                    dataSrc: ""
                },
                columns: [
                    {
                        data: "name",
                    },
                    {
                        data: "membershipType.name",
                    }
                ]
            });

            $("#customers").on("click", ".js-delete", function () {
                var deleteButton = $(this);
                bootbox.confirm("Are you sure you want to delete this customer?",
                    function (result) {
                        if (result) {
                            $.ajax({
                                url: "/api/customers/" + deleteButton.attr("data-customer-id"),
                                method: "DELETE",
                                success: function () {
                                    dataTable.row(deleteButton.parents("tr")).remove().draw()
                                }
                            });
                        }
                    });
            });
        });
    </script>
}


