﻿@model dynamic
@{
    ViewBag.Title = "Rentals";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>RENTALS</h2>

<div class="container" style="display:none;">
    <div class="row">
        <div class="col-md-6 col-sm-6">
            <form id="returnRental">
                <div class="form-group">
                    <label>Customer</label>
                    <div class="tt-container">
                        <input id="customer"
                               name="customer"
                               data-rule-validCustomer="true"
                               type="text"
                               value=""
                               class="form-control"
                               placeholder="Enter Customer Name" />
                    </div>
                </div>

                <button type="submit" style="visibility:hidden;" class="btn btn-primary">Submit</button>
            </form>
        </div>
        <div class="col-md-6 col-sm-6">
            <div id="penaltyContainer" style="visibility:hidden;">
                <div id="penaltyContent">
                    <div class="row" style="border:0px; top:0px; position:absolute; margin: 0px; padding: 10px 0px 10px 0px; width:100%;">
                        <div class="col-md-8 col-sm-8">
                            <span style="font-size:large;">PENALTIES</span>
                        </div>
                        <div class="col-md-4 col-sm-4">
                            <div class="checkbox" style="margin-top:0px;">
                                <label>
                                    <input id="isPaid" type="checkbox" name="name" value="" /> Paid
                                </label>
                            </div>
                        </div>
                    </div>
                    <br />
                    <div class="row" style="border-top:solid 1px #bbbbbb; bottom:0px; position:absolute; margin: 0px; padding: 10px 0px 10px 0px; width:100%;">
                        <div class="col-md-8 col-sm-8">
                            <span style="font-weight:bold; font-size:large;">Total</span>
                        </div>
                        <div class="col-md-4 col-sm-4">
                            <span id="totalLabel" style="font-weight:bold; font-size:large; color:#a01717"></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="rentalDatatableContainer" style="visibility:visible; margin-top:20px">
    <table id="rentals" class="table table-bordered table-hover">
        <thead>
            <tr>
                <th>Customer</th>
                <th>Rental ID</th>
                <th>Date Rented</th>
            </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
    <br />

    @*<button id="submitCheckins" class="btn btn-primary">Submit</button>*@
</div>

<div id="rentalListDatatableContainer" style="visibility:hidden; margin-top:20px">
    <table id="rentalDetails" class="table table-bordered table-hover">
        <thead>
            <tr>
                <th>Select</th>
                <th>Movie</th>
                <th>Date Rented</th>
                <th>Due Date</th>
                <th>Date Returned</th>
                <th>Penalty</th>
            </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
    <br />

    <button id="submitCheckins" class="btn btn-primary">Return</button>
</div>

@section scripts
{
    @Scripts.Render("~/bundles/jqueryval")

    <script>
        $(document).ready(function () {
            var vm = {
                rentalId: '',
                rentalIds: [],
                isPaid: false,
                penalty: 0
            };

            var dataTable = $("#rentals").DataTable({
                "order": [[0, "asc"]],
                language: {
                    emptyTable: "No Data"
                },
                scrollY: '33vh',
                scrollCollapse: true,
                searchDelay: 500,
                proccessing: true,
                serverSide: true,
                ajax: {
                    url: "/api/rentals/rentals-datatable",
                    type: 'POST',
                    data: function () {
                        var rentalDetailDataTable = $("#rentalDetails");
                        var detailListContainer = $('#rentalListDatatableContainer');

                        detailListContainer.css('visibility', 'hidden');
                        rentalDetailDataTable.DataTable().clear();
                        rentalDetailDataTable.DataTable().destroy();

                    }
                },
                columns: [
                    {
                        data: "CustomerName",
                        render: function (data, type, rental) {
                            return "<button class='btn-link js-show-details' data-rental-id=" + rental.Id + "> " + data + "</button>";
                        }
                    },
                    {
                        data: "Id"
                    },
                    {
                        data: "DateRented",
                        render: function (data) {
                            return moment(data).format("MMM DD, YYYY");
                        },
                    }
                ],
                columnDefs: [
                    { name: 'CustomerName', targets: 0 },
                    { name: 'Id', targets: 1 },
                    { name: 'DateRented', targets: 2 }
                ]
            });


            $('#rentalDatatableContainer').on("click", ".js-show-details", function () {
                // rental row element
                var elem = $(this);

                // rental detail container
                var detailListContainer = $('#rentalListDatatableContainer');

                // rental detail datatable
                var rentalDetailDataTable = $("#rentalDetails");

                // rental id
                var rentalId = elem.attr("data-rental-id");

                // reset rental detail datatable
                // show rental details table
                detailListContainer.css('visibility', 'hidden');
                rentalDetailDataTable.DataTable().clear();
                rentalDetailDataTable.DataTable().destroy();
                vm.rentalId = rentalId;


                // Get Rental details and create datatable
                $.ajax({
                    url: "/api/rentals/" + rentalId,
                    method: "GET"
                }).done(function (response) {

                    var dataTable = $("#rentalDetails").DataTable({
                        order: [[1, "asc"]],
                        language: {
                            emptyTable: "No Data"
                        },
                        scrollY: '20vh',
                        scrollCollapse: true,
                        info: false,
                        bPaginate: false,
                        bFilter: false,
                        data: response.rentalDetails,
                        columns: [
                            {
                                data: "id",
                                render: function (data, type, rd) {
                                    if (rd.dateReturned != null) {
                                        return "<div class='dt-table-select'><center><input type='checkbox' disabled class='btn-link js-mark' data-rental-id=" + data + " data-rental-penalty=" + rd.penalty + " /></center></div>";
                                    } else {
                                        return "<div class='dt-table-select'><center><input type='checkbox' class='btn-link js-mark' data-rental-id=" + data + " data-rental-penalty=" + rd.penalty + " /></center></div>";
                                    }
                                },
                                width: "5%",
                                className: "center-align"
                            },
                            {
                                data: "movieName",
                                width: "32%",
                            },
                            {
                                data: "dateRented",
                                render: function (data) {
                                    return moment(data).format("MMM DD, YYYY");
                                },
                                width: "15%",
                            },
                            {
                                data: "dueDate",
                                render: function (data) {
                                    return moment(data).format("MMM DD, YYYY");
                                },
                                width: "15%",
                            },
                            {
                                data: "dateReturned",
                                render: function (data) {
                                    if (data) {
                                        return moment(data).format("MMM DD, YYYY");
                                    } else {
                                        return '';
                                    }
                                },
                                width: "15%",
                            },
                            {
                                data: "penalty",
                                render: function (data) {
                                    return '₱' + data;
                                },
                                width: "15%",
                            }
                        ],
                        columnDefs: [
                            { name: 'select', orderable:false, targets: 0 },
                        ]
                    });

                    // show rental details table
                    detailListContainer.css('visibility', 'visible');

                }).fail(function () {
                    toastr.clear();
                    toastr.error("Something unexpected happened.");
                });


                $('#submitCheckins').on('click', function () {
                    $('.js-mark').each(function (i, obj) {
                        var thisObj = $(obj);
                        var rentalId = thisObj.attr("data-rental-id");

                        if (thisObj.is(':checked')) {
                            vm.rentalIds.push(rentalId);
                        }
                    });

                    if (vm.rentalIds && vm.rentalIds.length > 0) {
                        if (vm.penalty == 0) {
                            submitRentalForm();
                        } else {
                            if ($('#isPaid').is(':checked')) {
                                vm.isPaid = true;
                                submitRentalForm();
                            } else {
                                bootbox.confirm({
                                    message: "This will mark the customer as 'Delinquent' and will render him/her unable to rent any movies until the penalty has been settled.",
                                    buttons: {
                                        confirm: {
                                            label: 'Proceed',
                                            className: 'btn-primary'
                                        },
                                        cancel: {
                                            label: 'Cancel',
                                        }
                                    },
                                    callback: function (result) {
                                        if (result) {
                                            submitRentalForm();
                                        } else {
                                            vm.rentalIds = [];
                                        }
                                    }
                                });
                            }
                        }
                    } else {
                        toastr.clear();
                        toastr.warning("Please select the movie(s) that the customer would like to check in.");
                    }
                });

                var submitRentalForm = function () {
                    console.log(vm);
                    $.ajax({
                        url: "/api/checkIns/",
                        method: "POST",
                        data: vm,
                        success: function () {
                            toastr.clear();
                            toastr.success("Movies successfully checked in.");

                            detailListContainer.css('visibility', 'hidden');
                            rentalDetailDataTable.DataTable().clear();
                            rentalDetailDataTable.DataTable().destroy();

                            vm = {
                                rentalIds: [],
                                isPaid: false,
                                penalty: 0
                            };

                            validator.resetForm();
                            container.css('visibility', 'hidden');
                            $('#penaltyContainer').css('visibility', 'hidden');
                        },
                        error: function () {
                            toastr.clear();
                            toastr.error("Something unexpected happened.");
                        }
                    });
                }

                detailListContainer.on("click", ".js-mark", function () {
                    var selectButton = $(this);
                    var penaltyAmount = selectButton.attr("data-rental-penalty");
                    penaltyAmount *= 1;

                    if (selectButton.is(":checked")) {
                        vm.penalty += penaltyAmount;
                    } else {
                        vm.penalty -= penaltyAmount;
                    }

                    if (vm.penalty > 0) {
                        $('#penaltyContainer').css('visibility', 'visible');
                        $('#totalLabel').text('₱' + vm.penalty.toFixed(2));
                    } else {
                        $('#penaltyContainer').css('visibility', 'hidden');
                    }
                });
            });
        });


        //$(document).ready(function () {

        //    var vm = {
        //        rentalIds: [],
        //        isPaid: false,
        //        penalty: 0
        //    };
        //    var rentalList = [];


        //    var returnRentalForm = $("#returnRental");
        //    var container = $('#datatableContainer');

        //    var customers = new Bloodhound({
        //        datumTokenizer: Bloodhound.tokenizers.obj.whitespace('name'),
        //        queryTokenizer: Bloodhound.tokenizers.whitespace,
        //        remote: {
        //            url: '/api/customers?query=%QUERY',
        //            wildcard: '%QUERY'
        //        }
        //    });

        //    $('#customer').typeahead({
        //        minLength: 3,
        //        highlight: true
        //    }, {
        //        name: 'customers',
        //        display: 'name',
        //        source: customers
        //    }).on("typeahead:select", function (e, customer) {
        //        vm.customerId = customer.id;

        //        $("#movies").DataTable().clear();
        //        $('#movies').DataTable().destroy();

        //        setTimeout(function () {
        //            returnRentalForm.submit();
        //        }, 500)

        //    });


        //    $.validator.addMethod("validCustomer", function () {
        //        return vm.customerId && vm.customerId !== 0;
        //    }, "Please select a valid customer.");


        //    var validator = $("#returnRental").validate({
        //        submitHandler: function () {
        //            $.ajax({
        //                url: "/api/checkIns/" + vm.customerId,
        //                method: "GET"
        //            }).done(function (dataResponse) {
        //                rentalList = dataResponse;

        //                container.css('visibility', 'visible');

        //                var dataTable = $("#movies").DataTable({
        //                    language: {
        //                        emptyTable: "No Data"
        //                    },
        //                    info: false,
        //                    bPaginate: false,
        //                    bFilter: false,
        //                    data: dataResponse,
        //                    columns: [
        //                        {
        //                            data: "id",
        //                            render: function (data, type, customer) {
        //                                return "<div class='dt-table-select'><center><input type='checkbox' class='btn-link js-mark' data-rental-id=" + data + " data-rental-penalty=" + customer.penalty + " /></center></div>";
        //                            },
        //                            width: "8%",
        //                            className: "center-align"
        //                        },
        //                        {
        //                            data: "movieName",
        //                            width: "32%",
        //                        },
        //                        {
        //                            data: "dateRented",
        //                            render: function (data) {
        //                                return moment(data).format("MMM DD, YYYY");
        //                            },
        //                            width: "15%",
        //                        },
        //                        {
        //                            data: "dueDate",
        //                            render: function (data) {
        //                                return moment(data).format("MMM DD, YYYY");
        //                            },
        //                            width: "15%",
        //                        },
        //                        {
        //                            data: "dateReturned",
        //                            render: function (data) {
        //                                if (data) {
        //                                    return moment(data).format("MMM DD, YYYY");
        //                                } else {
        //                                    return '';
        //                                }
        //                            },
        //                            width: "15%",
        //                        },
        //                        {
        //                            data: "penalty",
        //                            render: function (data) {
        //                                return '₱' + data;
        //                            },
        //                            width: "15%",
        //                        }
        //                    ]
        //                });
        //            })
        //                .fail(function () {
        //                    toastr.clear();
        //                    toastr.error("Something unexpected happened.");
        //                });

        //            return false
        //        }
        //    });

        //    $('#submitCheckins').on('click', function () {
        //        $('.js-mark').each(function (i, obj) {
        //            var thisObj = $(obj);
        //            var rentalId = thisObj.attr("data-rental-id");

        //            if (thisObj.is(':checked')) {
        //                vm.rentalIds.push(rentalId);
        //            }
        //        });

        //        if (vm.rentalIds && vm.rentalIds.length > 0) {
        //            if (vm.penalty == 0) {
        //                submitRentalForm();
        //            } else {
        //                if ($('#isPaid').is(':checked')) {
        //                    vm.isPaid = true;
        //                    submitRentalForm();
        //                } else {
        //                    bootbox.confirm({
        //                        message: "This will mark the customer as 'Delinquent' and will render him/her unable to rent any movies until the penalty has been settled.",
        //                        buttons: {
        //                            confirm: {
        //                                label: 'Proceed',
        //                                className: 'btn-primary'
        //                            },
        //                            cancel: {
        //                                label: 'Cancel',
        //                            }
        //                        },
        //                        callback: function (result) {
        //                            if (result) {
        //                                submitRentalForm();
        //                            } else {
        //                                vm.rentalIds = [];
        //                            }
        //                        }
        //                    });
        //                }
        //            }
        //        } else {
        //            toastr.clear();
        //            toastr.warning("Please select the movie(s) that the customer would like to check in.");
        //        }
        //    });

        //    var submitRentalForm = function () {
        //        $.ajax({
        //            url: "/api/checkIns/",
        //            method: "POST",
        //            data: vm,
        //            success: function () {
        //                toastr.clear();
        //                toastr.success("Movies successfully checked in.");

        //                $("#customer").typeahead("val", "");
        //                $("#movies").DataTable().clear();
        //                $('#movies').DataTable().destroy();

        //                vm = {
        //                    rentalIds: [],
        //                    isPaid: false,
        //                    penalty: 0
        //                };

        //                validator.resetForm();
        //                container.css('visibility', 'hidden');
        //                $('#penaltyContainer').css('visibility', 'hidden');
        //            },
        //            error: function () {
        //                toastr.clear();
        //                toastr.error("Something unexpected happened.");
        //            }
        //        });
        //    }

        //    container.on("click", ".js-mark", function () {
        //        var selectButton = $(this);
        //        var penaltyAmount = selectButton.attr("data-rental-penalty");
        //        penaltyAmount *= 1;

        //        if (selectButton.is(":checked")) {
        //            vm.penalty += penaltyAmount;
        //        } else {
        //            vm.penalty -= penaltyAmount;
        //        }

        //        if (vm.penalty > 0) {
        //            $('#penaltyContainer').css('visibility', 'visible');
        //            $('#totalLabel').text('₱' + vm.penalty.toFixed(2));
        //        } else {
        //            $('#penaltyContainer').css('visibility', 'hidden');
        //        }
        //    });
        //});
    </script>
}

@section Styles
{
    <style>
        .dataTables_scrollBody {
            border-top: #ddd 1px solid !important;
            border-bottom: #ddd 1px solid !important;
        }

        .form-control.tt-hint.error {
            display: none !important;
        }

        input.form-control.tt-hint.error + label.error {
            display: none !important;
        }

        .display-none {
            display: none;
        }
    </style>
}
